@model IEnumerable<CPSC571Project6.Models.TestClass>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">tessstt</h1>
    <p>Hello world</a>.</p>

    <hr />

    <center>
        <table border="1">
            <tr>
                <th>test1</th>
                <th>test2</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.test1)</td>
                    <td>@Html.DisplayFor(modelItem => item.test2)</td>
                </tr>
            }
        </table>
    </center>
</div>


