@model IEnumerable<CPSC571Project6.Models.AnswerClass>

@{
    ViewData["Title"] = "Analyze";
}

<h1>Analyze</h1>

<html>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales'],
                ['2004', 0],
                ['2005', 1170],
                ['2006', 660],
                ['2007', 1000]
            ]);

            var options = {
                title: 'Company Performance',
                cruveType: 'function',
                legend: { position: 'bottom' }
            }

            var chart = new google.visualization.PieChart(document.getElementById('mychart'));

            chart.draw(data, options);
        }
    </script>


    <body>
        <div id="mychart" style="width: 900px; height: 500px"></div>
    </body>
</html>