@model CPSC571Project6.Models.QuestionnaireClass

@{
    ViewData["Title"] = "EditTitle";
}

<h1>EditTitle</h1>

<h4>QuestionnaireClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTitle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <input type="hidden" asp-for="topic_id" class="form-control" />
                <span asp-validation-for="topic_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Questions" asp-action="Index" asp-route-id="@ViewBag.questionnaire_id">Back to List</a>
</div>

