@model IEnumerable<CPSC571Project6.Models.QuestionnaireClass>

@{
    ViewData["Title"] = "Questionnaires";
}

<h1>List of Questionnaires</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Questionnaire
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-controller="Questions" asp-action="Index" asp-route-id="@item.id">Select</a>
                </td>
            }

        </tr>
}

    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Topics">Back to Topics</a>
</div>