@model CPSC571Project6.Models.QuestionClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Editing Question</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div type="hidden" class="form-group">
                <input type="hidden" asp-for="questionnaire_id" class="form-control" />
                <span asp-validation-for="questionnaire_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="question" class="control-label">New Question</label>
                <input asp-for="question" class="form-control" />
                <span asp-validation-for="question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.questionnaire_id">Back to Questions</a>
</div>

