@model IEnumerable<CPSC571Project6.Models.QuestionClass>

@{
    ViewData["Title"] = "Questions";
}

<h1>@ViewBag.questionaire_title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Questions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.question)

            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Questionnaire" asp-action="Index" asp-route-id ="@ViewBag.topic_id">Back to Questionnaires</a>
</div>